*{
  box-sizing: border-box;
  color: #333;
  margin: 0;
  font-family: "Roboto";
}

.grid {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-rows: auto;
}

.grid > * {
  grid-column: 2/3;
}

.KENT {
  display: grid;
  row-gap: 10px;
}

.KJELL {
  display: grid;
  row-gap: 10px;
}

.nimi {
  color: ;
  font-size: 2rem;
}

.nimi > em {
  color: red;
}

h1 {
  font-size: 4rem;
}

/*### DESKTOP STARTS ###*/
@media only screen and (min-width:700px ){
  
}/*mediaquery closed*/
