body {
  height: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

.grid {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.title {
      grid-column: 1;
      grid-row: 1/span 2;
      background-color: black;
      color: white;
      }

.body {
      grid-column: 2;
      grid-row: 1;
      background-color: yellow;
      }

.cta {grid-column: 2;
      grid-row: 2;
      background-color: green;
      }

/*### DESKTOP STARTS ###*/
@media only screen and (min-width:700px ){
  
}/*mediaquery closed*/
