*{
  box-sizing: border-box;
  color: #333;
  margin: 0;
  font-family: "Roboto";
}

.grid {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-rows: 15vh 15vh auto;
}

.grid > * {
  grid-column: 2/3;
}

.KENT {
  display: grid;
}

.KJELL {
  display: grid;
}

h1, h2 {
  text-align: center;
}


/*### DESKTOP STARTS ###*/
@media only screen and (min-width:700px ){
  
  /*grid desktop*/
grid-template-columns: 1fr 70vw 1fr;
  
}/*mediaquery closed*/
